.man {

	position: absolute;
	position: fixed;
	bottom: 0;
	z-index: 1;
	height: 225px;
	width: 225px;
	margin-top: 37.5%;
	margin-left: 25px;
}

.help {
	z-index: 2;
	position: absolute;
	margin-left: 1%;
	margin-top: 1%;
}

.name1{
	z-index: 1;
	position: absolute;
	font-family: Algerian;
	font-weight: bold;
	font-size: 30px;	
}

.name{
	z-index: 2;
	position: absolute;
	/*font-family: Algerian;*/
	font-weight: bold;
	font-size: 22px;
	margin-left: 40px;
	margin-top: 37%;
	transform: rotate(-8deg);
	word-wrap: break-word;
	font-family: ZillaSlab-SemiBold;
    src: url("assets/fonts/ZillaSlab-SemiBold.otf") format("opentype");
}

.resources{
	right: 1.5%;
	z-index: 3;
	font-size: 17px;
	font-weight: bold;
	position: absolute;
	/*border-style: solid;*/
  	/*border-width: 1px;*/
}

.buying{
	z-index: 4;
	position: absolute;
	margin-left: 40%;
	margin-top: 40%;
}

.btn{
	border-style: solid;
    border-width: 3px;
    border-color: grey;
    border-radius: 10px;
}

.trading{
	z-index: 5;
	position: absolute;
	margin-top: 40%;
	margin-left: -4%;
}


.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 80%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 10px; /* Set a specific slider handle width */
    height: 35px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.trading_modal {
	max-height: 300px;
    overflow-y: auto;
}