body {
	/*font-size: 40px;*/
}

.outer{
	display: block;
}

.box {
	margin: 10px;
	padding: 20px;
	background-color: green;
	width: 100px;
	height: 60px;

}

.cardc {
	background-image: url("../assets/bg/c4.jpg");
	width: 200px;
	height: 30px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 15px;
}

body{
	background-color: #111111;
	/*background-color: green;*/
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.r0{
	font-size: 22px;
	color: gold;
	font-weight: bold;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r1{
	font-size: 20px;
	color: silver;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r2{
	font-size: 19px;
	color: #CD7F32;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r3{
	font-size: 17px;
	color: cyan;
}
.r4{
	font-size: 15px;
	color: cyan;
}

div.n0 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 160px;
}

div.n1 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 160px;
}

div.n2 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 160px;
}

div.n3 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 160px;
}

div.n4 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 160px;
}

div.n0:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: initial; 
    width: 160px;
}
div.n1:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: initial; 
    width: 160px;
}
div.n2:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: initial; 
    width: 160px;
}
div.n3:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: initial; 
    width: 160px;
}
div.n4:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: initial; 
    width: 160px;
}