body {
	/*font-size: 40px;*/
}

.outer{
	display: block;
}

.box {
	margin: 10px;
	padding: 20px;
	background-color: green;
	width: 100px;
	height: 60px;

}

.cardc {
	background-image: url("../assets/bg/c4.jpg");
	width: 200px;
	height: 30px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 15px;
}

body{
	background-color: #111111;
	/*background-color: green;*/
}

@keyframes shine {
  from { -webkit-mask-position: 150%; }
  to { -webkit-mask-position: -50%; }
}

.legends {
	font-size: 20px;
	color: white;
	font-family: 'algerian';
}

.r0{
	font-size: 18px;
	color: gold;
	font-weight: bold;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r1{
	font-size: 18px;
	color: silver;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r2{
	font-size:18px;
	color: #CD7F32;
	-webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 50%, #000 50%, rgba(0,0,0,.6) 70%);
	  -webkit-mask-size: 200%;
	  animation: shine 3s linear infinite;
}
.r3{
	font-size:18px;
	color: cyan;
}
.r4{
	font-size:18px;
	color: cyan;
}

div.n0 {
	float: left;
	display: inline-block;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    width: 150px;
}
div.n0:hover {
    white-space: pre-wrap; 
	float: left;
	display: inline-block;
    word-wrap: break-word;
    overflow: inherit; 
    width: 150px;
    /*margin-top: -15px;*/
}

div.arank {
	margin-top:-10px;
	margin-bottom:-10px;
	width: 100%;
	/*display:table-cell;*/
}

div.arank:hover {
	padding-top: 15px;
    padding-bottom: 15px;
    text-shadow: 1px 1px 2px #DAA520;
    /*border-top: 0.001em solid red;*/
    /*border-bottom: 0.001em solid red;*/
	/*display:table-cell;*/
}

