body {
	font-size: 40px;
}

.outer{
	display: block;
}

.box {
	margin: 10px;
	padding: 20px;
	background-color: green;
	width: 100px;
	height: 60px;
}

@keyframes responsive_i_menu {
  0% {
    width: 150px;
	height: 125px;
    font-size: 20px;
  }
  25% {
    width: 153.33px;
	height: 127.77px;
    font-size: 20.5px;
  }
  75% {
    width: 156.66px;
	height: 130.55px;
    font-size: 21px;
  }
  100%{
  	width: 160px;
	height: 133.33px;
    font-size: 22px;

  }
}
@keyframes ease-in-out {
  0% {
	width: 160px;
	height: 133.33px;
    font-size: 22px;
  }
  25% {
    width: 156.66px;
	height: 130.55px;
    font-size: 21px;
  }
  75% {
	width: 153.33px;
	height: 127.77px;
    font-size: 20.5px;
  }
  100%{
    width: 150px;
	height: 125px;
    font-size: 20px;

  }
}

.cardc {
	-webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
	background-image: url("../assets/bg/c3.jpg");
	width: 150px;
	height: 125px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 20px;
    animation-name: ease-in-out;
    animation-duration: 0.18s;

}
.cardc:hover {
	 -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
	background-image: url("../assets/bg/c3.jpg");
	/*width: 150px;*/
	/*height: 125px;*/
	animation-name: responsive_i_menu;
    animation-duration: 0.12s;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 20px;
}

.carde {
	background-image: url("../assets/bg/c3.jpg");
	width: 150px;
	height: 125px;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 20px;
    opacity: 0.5;

}