body{
	background-color: #BBB;
}

.logo{
	z-index: 3;
	position: absolute;
	right: 0;
	margin: 30px; 
}

.outer{
	overflow-y: hidden;
}
.inner{
	overflow-y: scroll;
}

.flip-container {
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;

	/*border: 1px solid #ccc;*/
	margin: 30px
}

	.flip-container:hover .flipper,  
  .flip-container.hover .flipper {
		-webkit-transform: rotateY(180deg);
		-moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 167px;
	height: 267px;
}

.flipper {
	-webkit-transition: 0.6s;
	-webkit-transform-style: preserve-3d;

	-moz-transition: 0.6s;
	-moz-transform-style: preserve-3d;
  
  -o-transition: 0.6s;
	-o-transform-style: preserve-3d;

	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

.front, .back {
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
	backface-visibility: hidden;

	position: absolute;
	top: 0;
	left: 0;
}

.front {
	background: url(../assets/bg/gift-card.png) 0 0 no-repeat;
	z-index: 2;
}

.back {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
	transform: rotateY(180deg);

	background: #f8f8f8;
}

.front .name {
	font-size: 2em;
	display: inline-block;
	background: rgba(33, 33, 33, 0.9);
	color: #f8f8f8;
	font-family: Courier;
	padding: 5px 10px;
	border-radius: 5px;
	bottom: 60px;
	left: 35%;
	position: absolute;
	text-shadow: 0.1em 0.1em 0.05em #333;

	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
  -o-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.back-logo {
	position: absolute;
	top: 40px;
	left: 90px;
	width: 160px;
	height: 117px;
}

.back-title {
	font-weight: bold;
	color: #00304a;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	text-align: center;
	text-shadow: 0.1em 0.1em 0.05em #acd7e5;
	font-family: Courier;
	font-size: 2em;
}

.back p {
	position: absolute;
	bottom: 40px;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 20px;
  font-family: arial;
  line-height: 2em;
}