@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  45% {
    opacity: 1;
  }
}


.logo {
	display: block;
    margin: auto;
    width: 40%;
    margin-top: 15%;
    /*opacity: 0;*/
    animation-name: fadeInOut;
    animation-duration: 8s;

}

.playb{
	display: block;
    margin: auto;
    width: 40%;
    margin-top: 3%;
	width: 10%;
	font-size: 25px;
	font-style: italic;
	border-radius: 50px 20px;
	/*opacity: 0;*/
	animation-name: fadeInOut;
	animation-duration: 5s;

}

.help {
	z-index: 1;
	position: absolute;
	margin-left: 95%;
	margin-top: 28%;
}

.wiki {
	z-index: 2;
	position: absolute;
	margin-left: 95%;
	margin-top: 5%;

}

.sideb {
	font-size: 20px;
}