::-webkit-scrollbar{width:0px;height:0px;}
::-webkit-scrollbar-button{width:0px;height:0px;}

div{
  box-sizing:border-box;
}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:128px;
  max-height:1000px;
  margin:-10px;
  /*background:#abc;*/
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;
}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  /*background:#cab;*/
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:0px 0px 0px 0px;
}

.squares > div{
  width:120px;
  height:80px;
  margin:0px;

}


.box {
  /*background-color: #999999;*/
  font-size: 20px;
  padding-right: -20px;

}

.good-quantity {
  z-index: 2;
  position: absolute;
  margin: 5px;
}