::-webkit-scrollbar{width:0px;height:0px;}
::-webkit-scrollbar-button{width:0px;height:0px;}

div{
  box-sizing:border-box;

}

.horizontal-scroll-wrapper{
  position:absolute;
  display:block;
  top:0;
  left:0;
  width:128px;
  max-height:1000px;
  margin:-10px;
  /*background:#abc;*/
  overflow-y:auto;
  overflow-x:hidden;
  transform:rotate(-90deg) translateY(-80px);
  transform-origin:right top;

}
.horizontal-scroll-wrapper > div{
  display:block;
  padding:5px;
  /*background:#cab;*/
  transform:rotate(90deg);
  transform-origin: right top;
}

.squares{
  padding:0px 0px 0px 0px;
}

.squares > div{
  width:80px;
  height:80px;
  margin:20px;
}

@keyframes responsive_s_menu {
  0% {
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 20px;
    padding: 5px;
  }
  50% {
    width: 82.5px;
    height: 82.5px;
    font-size: 20.25px;
    margin: 17.5px;
    padding: 5px;
  }
  100%{
    width: 85px;
    height: 85px;
    font-size: 20.5px;
    margin: 15px;
    padding: 5px;
  }
}

@keyframes ease-in-out {
  0% {
    width: 85px;
    height: 85px;
    font-size: 20.5px;
    margin: 15px;
  }
  50% {
    width: 82.5px;
    height: 82.5px;
    font-size: 20.25px;
    margin: 17.5px;
  }
  100%{
    width: 80px;
    height: 80px;
    font-size: 20px;
    margin: 20px;
  }
}

.cardc {
  -webkit-animation-fill-mode:forwards; 
   -moz-animation-fill-mode:forwards; 
   -o-animation-fill-mode:forwards;
   -ms-animation-fill-mode:forwards; 
   animation-fill-mode:forwards;
   animation-name: ease-in-out;
  animation-duration: 0.14s;
  background-image: url("../assets/bg/s5.jpg");
  width: 100px;
  height: 100px;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 15px;
    font-size: 20px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  word-break: break-word;
}


.cardc:hover {
   -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
   -moz-animation-fill-mode:forwards; /*FF 5+*/
   -o-animation-fill-mode:forwards; /*Not implemented yet*/
   -ms-animation-fill-mode:forwards; /*IE 10+*/
   animation-fill-mode:forwards;
   animation-name: responsive_s_menu;
  animation-duration: 0.1s;
  background-image: url("../assets/bg/s5.jpg");
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*margin: 15px;*/
    font-size: 20px;
  border-style: solid;
  border-width: 1px;
  padding: 10px;
}

.carde {
  background-color:  #808080;
  width: 100px;
  height: 100px;
  font-size: 20px;
  color: black;
  word-wrap: break-word;

}
